/* COMMON */

body {
    padding-top: 50px;
    background-color: #eeeeee;
}

#div-action-bar {
    margin-bottom: 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card {
    border-radius: 2px;
    -webkit-box-shadow: 0px 2px 2px rgba(0, 2, 5, 0.15);
    box-shadow: 0px 2px 2px rgba(0, 2, 5, 0.15);
    background-color: #ffffff;
}

.card:hover {
    -webkit-box-shadow: 0px 2px 10px rgba(0, 2, 5, 0.25);
    box-shadow: 0px 2px 10px rgba(0, 2, 5, 0.25);
}

/* SHARE CARD */

.div-share-card-date {
    color: #ffffff;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.span-share-card-date {
    font-weight: 200;
}

.span-share-card-date-hour {
    font-weight: 400;
}

.div-share-card {
    cursor: pointer;
    margin-bottom: 30px;
}

.div-share-card-subtitle {
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: #333333;
}

.span-share-card-user {
    color: #2980b9;
}

.span-share-card-modified {
    color: #95a5a6;
    font-weight: 200;
}

.span-share-card-city {
    color: #34495e;
}

.span-share-card-zip-code {
    color: #95a5a6;
    font-weight: 200;
}

.div-share-card-main {
    margin-top: 10px;
}

.div-share-card-icon {
    display: table-cell;
    vertical-align: top;
    padding-left:15px;
    padding-right: 15px;
    margin-top: 10px;
    font-size: 40px;
    width: 80px;
    height: 80px;
    max-width: 80px;
    max-height: 80px;
}

.span-share-card-icon-container {
    display: table-cell;
    vertical-align: middle;
    color: #ffffff;
}

.div-share-card-title {
    padding-left: 0px;
}

.blockquote-share-card-title {
    border-left: none;
    margin-bottom: 0px;
    padding-left: 0px;
}

.footer-share-card-summary {
    margin-bottom: 10px;
}

.div-share-card-limitations {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
}

.form-share-card-request {
    display: inline;
}

.form-share-card-request input {
    width: 70px;
}



.div-share-card-request-status {
    margin-top: 10px;
}







.p-share-card-left-places {
    margin-bottom: 0px;
}

.div-share-card-places-price {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.div-share-card-progress {
    display: table;
    width: 100%;
}

.div-share-card-progress .progress {
    margin-bottom: 0px;
    height: 10px;
}

.div-share-card-progress-cell {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}

.p-share-card-price {
    color: #2980b9;
    font-weight: bold;
    margin-bottom: 0px;
}

.p-share-card-price-label {
    color: #95a5a6;
    font-weight: 200;
}

.tr-share-card-request {
    cursor: pointer;
}

.tr-share-card-request td {
    padding-left: 15px!important;
    padding-right: 15px!important;
}

.p-share-card-request {
    margin-bottom: 0px;
}

/* SHARE */

.div-share {
    background-color: #ffffff;
}

.h1-share-details-type {
    font-size: 75px;
}

.div-share-details-date {
    margin-top: 15px;
}

.h2-share-details-date {
    margin-bottom: 5px;
}

.h2-share-details-hour {
    margin-top: 0px;
    font-weight: 200;
}

.button-share-details-participate {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-share-details-participate.disabled {
    opacity: 1.0;
}

.div-share-details-description {
    background-color: #ffffff;
}

.h1-share-details-title {
    margin-top: 15px;
}

.h2-share-details-price {
    color: #3498db;
    font-weight: 200;
}

.span-share-details-price {
    font-size: 35px;
    font-weight: 600;
}

.footer-share-details-limitations:before {
    content: normal;
}

.div-share-details-place {
    margin-top: 15px;
    margin-bottom: 10px;
}

.img-share-details-place {
    width: 75%;
}

.h5-share-details-created {
    margin-bottom: 10px;
    color: #bdc3c7;
    font-weight: 200;
}

.a-share-details-user {
    font-weight: 400;
}

/* COMMENT */

#div-share-details-comments {
    margin-bottom: 15px;
    background-color: #ffffff;
    border-top: 10px solid #f39c12;
}

#div-share-details-comments-list {
    padding-top: 15px;
    /*padding-bottom: 15px;*/
}

.div-comment-user-img {
    background-color: #2ecc71;
    color: #ffffff;
    font-size: 30px;
    height: 64px;
    width: 64px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#div-share-details-comments .alert {
    margin-bottom: 0px;
}

#textarea-comment-add {
    width: 100%;
}

#btn-comment-add {
    width: 100%;
}

#div-share-details-comments-list p {
    margin-bottom: 5px;
}

#div-share-details-comments-list .blockquote-normal {
    border-left: 5px solid #4aa3df;
}

#div-share-details-comments-list .blockquote-reverse {
    border-right: 5px solid #2ecc71;
}

.div-share-details-comments-editor {
    border-top: 1px solid #ecf0f1;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* SHARE/ADD */

#div-share-add-google-map {
    height: 290px;
    margin-bottom: 15px;
}

.div-add-section {
    padding: 15px;
    padding-bottom: 0px;
    background-color: #ffffff;
    margin-bottom: 15px;
}

.div-add-section .input-group {
    margin-bottom: 15px;
}

.div-add-section .bootstrap-select {
    width: 100%;
}

.div-add-section .selectpicker {
    border-top-right-radius: 5px!important;
    border-bottom-right-radius: 5px!important;
}

#div-add-section-description .input-group.has-error .input-group-addon, #div-add-section-description .input-group.has-error input, #div-add-section-description .input-group.has-error .selectpicker {
    border-color: #e74c3c;
}


#div-add-section-description .input-group-addon, #div-add-section-description .input-group input, #div-add-section-description .selectpicker {
    border-color: #3498db;
}

#div-add-section-description .input-group-addon {
    background-color: #3498db;
    color: #ffffff;
    min-width: 40px;
}

#div-add-section-description .input-group.has-error .input-group-addon {
    background-color: #e74c3c;
}

#div-add-section-more .input-group-addon, #div-add-section-more .input-group input, #div-add-section-more .selectpicker {
    border-color: #9b59b6;
}

#div-add-section-more .input-group-addon {
    background-color: #9b59b6;
    color: #ffffff;
    min-width: 40px;
}

/* USER/HOME */

.div-user-home-tabs {
    /*padding: 15px;*/
    margin-bottom: 20px;
}

.div-user-home-panes {
    margin-top: 15px;
}

/* MENU */

.panel {
    border: none;
    border-radius: initial;
}

.panel-primary .panel-heading {
    background-color: #2ecc71;
    color: #ffffff;
    border: none;
    border-radius: initial;
}