/* Common */

html {
    height: 100%;
}

body {
    height: 100%;
    padding-top: 50px;
    background-color: #ffffff;
}

/* Home */

/* Action bar */

#div-action-bar {
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.select-action-bar {
    height: 40px;
    width: 100%!important;
}

/* Navigation bar */

.nav-bar-user-img {
    height: 18px;
    width: 18px;
    /*border: 2px solid #ffffff;*/
}

/* Card */

.card {
    border-radius: 2px;
    -webkit-box-shadow: 0px 2px 2px rgba(0, 2, 5, 0.15);
    box-shadow: 0px 2px 2px rgba(0, 2, 5, 0.15);
    background-color: #ffffff;
    margin-bottom: 30px;
}

.card:hover {
    -webkit-box-shadow: 0px 2px 10px rgba(0, 2, 5, 0.25);
    box-shadow: 0px 2px 10px rgba(0, 2, 5, 0.25);
}

.card-header {
    background-color: #35cf76;
    color: #ffffff;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* SHARE CARD */

.div-share-card {
    cursor: pointer;
}

.span-share-card-date {
    font-weight: 200;
}

.span-share-card-date-hour {
    font-weight: 400;
}

.div-share-card-subtitle {
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: #333333;
}

.span-share-card-user {
    color: #2980b9;
}

.span-share-card-modified {
    color: #95a5a6;
    font-weight: 200;
}

.span-share-card-city {
    color: #34495e;
}

.span-share-card-zip-code {
    color: #95a5a6;
    font-weight: 200;
}

.div-share-card-main {
    margin-top: 10px;
}

.div-share-card-icon {
    display: table-cell;
    vertical-align: top;
    padding-left:15px;
    padding-right: 15px;
    margin-top: 10px;
    font-size: 40px;
    width: 80px;
    height: 80px;
    max-width: 80px;
    max-height: 80px;
}

.div-share-card-title {
    padding-left: 0px;
    display: table-cell;
    vertical-align: top;
    /*text-align: justify;*/
}

.blockquote-share-card-title {
    border-left: none;
    margin-bottom: 0px;
    padding-left: 0px;
}

.a-share-card-title {
    color: #2c3e50;
}

.a-share-card-title:hover {
    color: #34495e;
    text-decoration: underline;
}

.div-share-card-title footer:before  {
    content: normal;
}

.footer-share-card-summary {
    margin-bottom: 10px;
    color: #34495e;
}

.div-share-card-limitations {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
}

.form-share-card-request {
    display: inline;
}

.form-share-card-request-input {
    width: 70px;
}

.p-share-card-left-places {
    margin-bottom: 0px;
}

.div-share-card-places-price {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.div-share-card-progress {
    display: table;
    width: 100%;
}

.div-share-card-progress .progress {
    margin-bottom: 0px;
    height: 10px;
}

.div-share-card-progress .progress-bar {
    line-height: 10px;
}

.div-share-card-progress-cell {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}

.p-share-card-price {
    color: #2980b9;
    font-weight: bold;
    margin-bottom: 0px;
}

.p-share-card-price-label {
    color: #95a5a6;
    font-weight: 200;
}

.table-share-request-card-requests {
    margin-bottom: 0px;
}

.tr-share-card-request td {
    padding-left: 15px!important;
    padding-right: 15px!important;
}

.p-share-card-request {
    margin-bottom: 0px;
}

.p-share-card-request-user {
    font-weight: 400;
}

.footer-request-card {
    margin-bottom: 10px;
}

/* SHARE */

.div-share {
    background-color: #ffffff;
    padding-bottom: 30px;
}

.h1-share-details-type {
    font-size: 100px;
    margin-bottom: 0px;
}

.div-share-details-date {
    margin-top: 15px;
}

.h2-share-details-date {
    margin-bottom: 5px;
}

.h2-share-details-hour {
    margin-top: 0px;
    font-weight: 200;
}

.button-share-details-participate, .button-share-details-participate-status {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-share-details-participate-status.disabled {
    opacity: 1.0;
}

.div-share-details-description {
    background-color: #ffffff;
}

.h1-share-details-title {
    margin-top: 15px;
}

.h2-share-details-price {
    color: #95a5a6;
    font-weight: 200;
}

.span-share-details-price {
    font-size: 35px;
    font-weight: 600;
}

.footer-share-details-limitations:before {
    content: normal;
}

.div-share-details-place {
    margin-top: 15px;
    margin-bottom: 10px;
}

.img-share-details-place {
    width: 75%;
}

.p-share-details-created {
    margin-bottom: 10px;
    color: #bdc3c7;
}

/* COMMENT */

#div-share-details-comments {
    padding-bottom: 30px;
    background-color: #ffffff;
}

#div-share-details-comments-list {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    /*padding-bottom: 15px;*/
}

.comment-user-img {
    max-width: none;
}

#div-share-details-comments .alert {
    margin-bottom: 0px;
}

#textarea-comment-add {
    width: 100%;
}

#btn-comment-add {
    width: 100%;
}

#div-share-details-comments-list p {
    margin-bottom: 0px;
}

#div-share-details-comments-list .blockquote-normal {
    border-left: 5px solid #4aa3df;
}

#div-share-details-comments-list .blockquote-reverse {
    border-right: 5px solid #2ecc71;
}

.div-share-details-comments-editor {
    margin-top: 20px;
}

/* SHARE/ADD */

#div-share-add-google-map {
    height: 400px;
}

.div-add-section {
    background-color: #ffffff;
}

.div-add-section .input-group {
    margin-bottom: 15px;
}

.div-add-section .bootstrap-select {
    width: 100%;
}

.div-add-section .selectpicker {
    border-top-right-radius: 5px!important;
    border-bottom-right-radius: 5px!important;
}

#div-add-section-description .input-group.has-error .input-group-addon, #div-add-section-description .input-group.has-error input, #div-add-section-description .input-group.has-error .selectpicker {
    border-color: #e74c3c;
}

#div-add-section-description .input-group-addon, #div-add-section-description .input-group input, #div-add-section-description .selectpicker {
    border-color: #3498db;
}

#div-add-section-description .input-group-addon {
    background-color: #3498db;
    color: #ffffff;
    min-width: 40px;
}

#div-add-section-description .input-group.has-error .input-group-addon {
    background-color: #e74c3c;
}

#div-add-section-more .input-group-addon, #div-add-section-more .input-group input, #div-add-section-more .selectpicker {
    border-color: #8c9899;
}

#div-add-section-more .input-group-addon {
    background-color: #8c9899;
    color: #ffffff;
    min-width: 40px;
}

/* USER/HOME */

.div-user-home-tabs {
    /*padding: 15px;*/
    margin-bottom: 20px;
}

.div-user-home-panes {
    margin-top: 15px;
}

/* USER */

.user-card-picture-div {
    padding-top: 15px;
    padding-right: 0px;
}

.user-card-picture-img {

}

.user-card-summary-div {
    padding-top: 15px;
    padding-left: 0px;
}

.user-card-summary-blockquote {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.user-card-summary-table {
    margin-bottom: 0px;
    margin-bottom: 15px;
}

.user-card-summary-table td {
    padding: 15px!important;
}

.user-card-summary-p {
    margin-bottom: 0px;
}