/**/

body {
    padding-top: 70px;
    background-color: #ecf0f1;
}

.card {
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 2px rgba(0, 2, 5, 0.15);
    box-shadow: 0 2px 2px rgba(0, 2, 5, 0.15);
    background-color: #ffffff;
}

/* SHARE ELEMENT */

.div-shareelement {
    margin-bottom: 30px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 2px rgba(0, 2, 5, 0.1);
    box-shadow: 0 2px 2px rgba(0, 2, 5, 0.1);
    background-color: #ffffff;
    cursor: pointer;
}

.div-shareelement:hover {
    background-color: #fdfdfd;
}

.div-shareelement-block {
    padding: 10px;
}

.div-shareelement-date {
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.div-shareelement-block-subtitle {
    padding-top: 5px;
    padding-bottom: 5px;
}

.div-shareelement-subtitle {
    font-size: 16px;
    color: #333333;
}

.div-shareelement-block-title {
    padding-top: 0px;
    padding-bottom: 5px;
}

.div-shareelement-title {
    font-size: 22px;
    color: #333333;
}

.div-shareelement-block-limitations {
    padding-top: 0px;
    padding-bottom: 5px;
}

/* SHARE */

.div-share {
    background-color: #ffffff;
}

.h1-share-details-type {
    font-size: 75px;
}

.div-share-details-date {
    margin-top: 15px;
}

.h2-share-details-date {
    margin-bottom: 5px;
}

.h2-share-details-hour {
    margin-top: 0px;
    font-weight: 200;
}

.a-share-details-participate {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.div-share-details-description {
    background-color: #ffffff;
}

.h1-share-details-title {
    margin-top: 15px;
}

.h2-share-details-price {
    color: #3498db;
    font-weight: 200;
}

.span-share-details-price {
    font-size: 35px;
    font-weight: 600;
}

.div-share-details-place {
    margin-top: 15px;
    margin-bottom: 10px;
}

.img-share-details-place {
    width: 75%;
}

.h5-share-details-created {
    margin-bottom: 10px;
    color: #bdc3c7;
    font-weight: 200;
}

.a-share-details-user {
    font-weight: 400;
}

/* COMMENT */

#div-share-comments {
    margin-bottom: 15px;
    background-color: #ffffff;
    border-top: 10px solid #f39c12;
}

#div-share-comments-list {
    padding-top: 15px;
    /*padding-bottom: 15px;*/
}

.div-comment-user-img {
    background-color: #2ecc71;
    color: #ffffff;
    font-size: 30px;
    height: 64px;
    width: 64px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#textarea-comment-add {
    width: 100%;
}

#btn-comment-add {
    width: 100%;
}

#div-share-comments-list p {
    margin-bottom: 5px;
}

#div-share-comments-list .blockquote-normal {
    border-left: 5px solid #4aa3df;
}

#div-share-comments-list .blockquote-reverse {
    border-right: 5px solid #2ecc71;
}

.div-share-details-comments-editor {
    border-top: 1px solid #ecf0f1;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* SHARE/ADD */

.div-add-section {
    padding: 15px;
    background-color: #ffffff;
    margin-bottom: 15px;
}

/* MENU */
.panel {
    border: none;
    border-radius: initial;
}

.panel-primary .panel-heading {
    background-color: #2ecc71;
    color: #ffffff;
    border: none;
    border-radius: initial;
}