body {
    padding-top: 50px;
    background-color: #ffffff;
}

/* Common */

/* Navigation bar */

.nav-bar-user-img {
    height: 18px;
    width: 18px;
    /*border: 2px solid #ffffff;*/
}

/* Pagination */

.pagination-ul {
    margin-top: 0px;
}

/* USER/HOME */

.div-user-home-tabs {
    /*padding: 15px;*/
    margin-bottom: 20px;
}

.div-user-home-panes {
    margin-top: 15px;
}

/* Footer */

#footer {
    background-color: #333333;
    color: #FFFFFF;
    text-align: left;
    width: 100%;
    height: 180px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#footer a {
    color: #FFFFFF;
    padding: 0px;
}

#footer a:hover {
    color: #3498db;
    cursor: pointer;
    text-decoration: none;
}