html, body {
    height: 100%;
}

body {
    position: relative;
    padding-top: 50px;
    background-color: #ffffff;
}

/* Navigation bar */

.nav-bar-user-img {
    height: 18px;
    width: 18px;
}

.content-div {
    padding-bottom: 180px;
}

/* Structure */

.main-div {
    min-height: 100%;
    position: relative;
}

/* Add inputs */

.add-select {
    border: none;
    height: 44px!important;
}

.add-input-group {
    margin-bottom: 15px;
}

.add-select-div {
    border: 1px solid #3498db;
    height: 46px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#shares-add-section-description-div .input-group.has-error .input-group-addon,
#shares-add-section-description-div .input-group.has-error input,
#shares-add-section-description-div .input-group.has-error .add-select-div {
    border-color: #e74c3c;
}

.input-group-addon-required,
.input-required,
.add-select-div-required {
    border-color: #3498db;
}

.input-group-addon-required {
    background-color: #3498db;
    color: #ffffff;
    min-width: 40px;
}

.input-group.has-error .input-group-addon {
    background-color: #e74c3c;
    color: #ffffff;
}

.input-group-addon-optional,
.input-optional,
.add-select-div-optional {
    border-color: #8c9899;
}

.input-group-addon-optional {
    background-color: #8c9899;
    color: #ffffff;
    min-width: 40px;
}
/* Card */

.card-div {
    border-radius: 2px;
    -webkit-box-shadow: 0px 2px 2px rgba(0, 2, 5, 0.15);
    box-shadow: 0px 2px 2px rgba(0, 2, 5, 0.15);
    background-color: #ffffff;
    margin-bottom: 30px;
}

.card-div:hover {
    -webkit-box-shadow: 0px 2px 10px rgba(0, 2, 5, 0.25);
    box-shadow: 0px 2px 10px rgba(0, 2, 5, 0.25);
}

.card-header-div {
    background-color: #35cf76;
    color: #ffffff;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.share-card-icon-img {
    max-width: 80px;
}

.share-card-main-div {
    padding: 15px;
}

.share-card-description-blockquote {
    border-left: none;
    margin-bottom: 0px;
    padding: 0px;
}

/* Event date */

.share-card-date-span {
    font-weight: 200;
}

/* Event time */

.share-card-time-span {
    font-weight: 400;
}

/* Information */

.share-card-title-col {
    /*padding-left: 0px;*/
}

/* Type */

.share-card-type-p {
    font-size: 20px;
    margin-bottom: 5px;
}

.share-card-type-span {
    font-weight: 200;
}

/* Title */

.share-card-title-p {
    margin-bottom: 10px;
}

/* Pagination */

.pagination-ul {
    margin-top: 0px;
}

/* Footer */

#footer {
    background-color: #333333;
    color: #FFFFFF;
    text-align: left;
    width: 100%;
    height: 180px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: absolute;
    bottom: 0;
}

.footer-container-div {
    background-color: #333333;
}

#footer a {
    color: #FFFFFF;
    padding: 0px;
}

#footer a:hover {
    color: #3498db;
    cursor: pointer;
    text-decoration: none;
}