body {
    padding-top: 50px;
    background-color: #ffffff;
}

/* Navigation bar */

.nav-bar-user-img {
    height: 18px;
    width: 18px;
}

/* Add inputs */

.add-input-group {
    margin-bottom: 15px;
}

.add-select-div {
    border: 1px solid #3498db;
    height: 46px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#shares-add-section-description-div .input-group.has-error .input-group-addon,
#shares-add-section-description-div .input-group.has-error input,
#shares-add-section-description-div .input-group.has-error .add-select-div {
    border-color: #e74c3c;
}

.input-group-addon-required,
.input-required,
.add-select-div-required {
    border-color: #3498db;
}

.input-group-addon-required {
    background-color: #3498db;
    color: #ffffff;
    min-width: 40px;
}

.input-group.has-error .input-group-addon {
    background-color: #e74c3c;
    color: #ffffff;
}

.input-group-addon-optional,
.input-optional,
.add-select-div-optional {
    border-color: #8c9899;
}

.input-group-addon-optional {
    background-color: #8c9899;
    color: #ffffff;
    min-width: 40px;
}

/* Pagination */

.pagination-ul {
    margin-top: 0px;
}

/* Footer */

#footer {
    background-color: #333333;
    color: #FFFFFF;
    text-align: left;
    width: 100%;
    height: 180px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#footer a {
    color: #FFFFFF;
    padding: 0px;
}

#footer a:hover {
    color: #3498db;
    cursor: pointer;
    text-decoration: none;
}