/* Navbar */

.pac-container {
    z-index: 9999;
}

.shares-search-input-group-addon-navbar {
    padding-left: 12px;
    padding-right: 0px;
}

.li-navbar-right {
    margin-right: 15px;
}

/* Structure */

.main-div {
    height: 100%;
}

.content-div {
    padding-bottom: 0px;
    height: 100%;
    width: 100%;
}

#shares-search-div {
    height: 100%;
    position: relative;
}

#shares-search-results-div {
    padding: 30px;
    padding-bottom: 0px;
}

#shares-search-left-div {
    float: left;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #eeeeee;
}

#shares-search-right-div {
    margin-left: 50%;
    width: 50%;
    height: 100%;
}

/* Search bar */

#search-bar-div {
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.search-bar-select {
    border-color: #3498db;
    color: #3498db;
}

.search-bar-select-period {
    border-color: #9b59b6;
    color: #9b59b6;
}

/* Google map */

#shares-search-google-map-div {
    width: 100%;
    height: 100%;
}

.info-window-div {
    cursor: pointer;
}

.info-window-date-p {
    margin-bottom: 5px;
}

.info-window-type-p {
    margin-bottom: 5px;
    font-size: 16px;
}

.info-window-type-category-span {
    font-weight: 400;
}

.info-window-title-p {
    margin-bottom: 5px;
    font-size: 16px;
}

.info-window-places-price-p {
    margin-bottom: 0px;
}

/* Card */

.card-div {
    border-radius: 2px;
    -webkit-box-shadow: 0px 2px 2px rgba(0, 2, 5, 0.15);
    box-shadow: 0px 2px 2px rgba(0, 2, 5, 0.15);
    background-color: #ffffff;
    margin-bottom: 30px;
}

.card-div:hover {
    -webkit-box-shadow: 0px 2px 10px rgba(0, 2, 5, 0.25);
    box-shadow: 0px 2px 10px rgba(0, 2, 5, 0.25);
}

.card-header-div {
    background-color: #35cf76;
    color: #ffffff;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Share card */

.share-card-div {
    cursor: pointer;
    min-height: 258px;
}

/* Event date */

.share-card-date-span {
    font-weight: 200;
}

/* Event time */

.share-card-time-span {
    font-weight: 400;
}

.share-card-main-div {
    padding: 15px;
    padding-bottom: 0px;
    min-height: 148px;
}

/* Icon */

.share-card-icon-h1 {
    margin: 0px;
}

/* Information */

.share-card-title-col {
    /*padding-left: 0px;*/
}

.share-card-title-blockquote {
    border-left: none;
    margin-bottom: 0px;
    padding: 0px;
}

/* Type */

.share-card-type-p {
    font-size: 20px;
    margin-bottom: 5px;
}

.share-card-type-span {
    font-weight: 200;
}

/* Title */

.share-card-title-p {
    margin-bottom: 10px;
}

/* Comment count */

.share-card-comment-count-p {
    font-size: 14px;
}

/* Places and price */

.share-card-places-price-div {
    padding: 15px;
}

.share-card-left-places-p {
    margin-bottom: 0px;
}

.share-card-progress {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 10px;
}

.share-card-progress-bar {
    line-height: 10px;
}

.share-card-price-p {
    color: #2980b9;
    font-weight: bold;
    margin-bottom: 0px;
}

.share-card-price-small {
    color: #95a5a6;
    font-weight: 200;
}
