/* Navbar */

.pac-container {
    z-index: 9999;
}

.shares-search-input-group-addon-navbar {
    padding-left: 12px;
    padding-right: 0px;
}

/* Structure */

.main-div {
    height: 100%;
}

.content-div {
    padding-bottom: 0px;
    height: 100%;
    width: 100%;
}

#shares-search-div {
    height: 100%;
    position: relative;
}

#shares-search-results-div {
    padding: 30px;
    padding-bottom: 0px;
}

#shares-search-left-div {
    float: left;
    width: 60%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #eeeeee;
}

#shares-search-right-div {
    margin-left: 60%;
    width: 40%;
    height: 100%;
}

/* Search bar */

#search-bar-div {
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.search-bar-select {
    border-color: #3498db;
    color: #3498db;
}

.search-bar-select-period {
    border-color: #9b59b6;
    color: #9b59b6;
}

/* Google map */

#shares-search-google-map-div {
    width: 100%;
    height: 100%;
}

.info-window-div {
    cursor: pointer;
}

.info-window-date-p {
    margin-bottom: 5px;
}

.info-window-type-p {
    margin-bottom: 5px;
    font-size: 16px;
}

.info-window-type-category-span {
    font-weight: 400;
}

.info-window-title-p {
    margin-bottom: 5px;
    font-size: 16px;
}

.info-window-places-price-p {
    margin-bottom: 0px;
}

/* Share card */

.share-card-div {
    cursor: pointer;
    min-height: 260px;
}

.share-card-main-div {
    padding-bottom: 0px;
    min-height: 150px;
}

/* Comment count */

.share-card-comment-count-p {
    font-size: 14px;
}

/* Places and price */

.share-card-places-price-div {
    padding: 15px;
}

.share-card-left-places-p {
    margin-bottom: 0px;
}

.share-card-progress {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 10px;
}

.share-card-progress-bar {
    line-height: 10px;
}

.share-card-price-p {
    color: #2980b9;
    font-weight: bold;
    margin-bottom: 0px;
}

.share-card-price-small {
    color: #95a5a6;
    font-weight: 200;
}
