body {
    padding-top: 0px;
}

/* Navbar */

.navbar-home {
    background: transparent;
    border: none;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 1000;
}

.navbar-home .navbar-nav>.open>a,
.navbar-home .navbar-nav>.open>a:hover,
.navbar-home .navbar-nav>.open>a:focus {
    background: rgba(0, 0, 0, 0.25);
}

.navbar-home .btn-navbar:hover {
    background-color: white!important;
    color: #000000!important;
}

/* Header */

#shares-home-header-div {
    height: 500px;
    background-image: url(../../img/home-background.jpg);
    background-position: center;
}

#shares-home-header-text-div {
    height: 100%;
    display: table;
    width: 100%;
    position: relative;
}

#shares-home-header-text-container-div {
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 106px;
}

#shares-home-header-text-h1 {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

#shares-home-header-text-h4 {
    color: white;
    font-size: 30px;
    margin-top: 0px;
}

/* Form */

#shares-home-form-div {
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    color:#ffffff;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.shares-home-form-col-select-home {
    padding: 0px;
}

.shares-home-form-div-select-home {
    position: relative;
    background-color: white;
    border: 1px solid #ccc;
    border-left: none;
}

.shares-home-form-address-input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.shares-home-form-div-home {
    border-radius: 0px;
    border: none;
    height: 44px!important;
}

.shares-home-form-submit {
    width: 100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/* Information */

#shares-home-information-div {
    margin-bottom: 30px;
}

#shares-home-information-div h1 {
    margin-bottom: 15px;
    color: #009688;
    font-weight: 100;
}

#shares-home-information-div img {
    margin-top: 20px;
    margin-bottom: 10px;
}

.shares-home-information-title-div {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.shares-home-information-title-div h2 {
    color: #fdba33;
    font-weight: 100;
    font-size: 36px;
    background: url(../../img/heading.png) no-repeat center center;
}

.shares-home-information-title-div span {
    padding-left: 20px;
    padding-right: 20px;
    background: url(../../img/content-light.png) repeat 0 0;
}

.shares-home-information-strong {
    color: #009688;
}