/* Structure */

#shares-details-div {
    background-color: #ffffff;
}

.shares-details-main-row {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Icon */

.shares-details-icon-h1 {
    font-size: 100px;
    margin-bottom: 0px;
}

/* Event date */

.shares-details-date-h2 {
    margin-bottom: 5px;
    margin-top: 10px;
}

/* Event time */

.shares-details-time-h2 {
    margin-top: 0px;
    font-weight: 200;
}

/* Type */

.shares-details-type-span {
    font-weight: 200;
}

/* Title */

.shares-details-title-p {
    font-size: 28px;
}

/* Limitations */

.shares-details-limitations-footer:before {
    content: normal;
}

/* Place */

.shares-details-place-div {
    margin-top: 20px;
    background-color: #fbfcfc;
    margin-bottom: 0px;
}

/* Price */

.shares-details-price-h2 {
    font-weight: 200;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #3498db;
}

.shares-details-price-span {
    font-size: 35px;
    font-weight: 600;
}

.shares-details-price-unit-h3 {
    margin-top: 0px;
    color: #95a5a6;
    margin-bottom: 20px;
}

/* Participate button */

.shares-details-participate-button, .shares-details-participate-status {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
}

.shares-details-participate-status.disabled {
    opacity: 1.0;
}

.shares-details-participate-div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.shares-details-participate-div .shares-details-participate-button {
    margin-top: 0px;
}

/* Created */

.shares-details-created-p {
    margin-top: 10px;
    color: #bdc3c7;
}

/* GoogleMap */

#shares-details-google-map-div {
    width: 100%;
    height: 500px;
    border-top: 1px solid #bdc3c7;
    border-bottom: 1px solid #bdc3c7;
}

/* Comments */

#shares-details-comments-div {
    background-color: #ffffff;
}

#shares-details-comments-list-div {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

/* Comment */

.shares-details-comment-div {
    margin-bottom: 30px;
}

.shares-details-comment-creator-div {
    width: 75%;
    margin-left: 25%;
}

.shares-details-comment-other-user-div {
    width: 75%;
}

#shares-details-comments-list-div .blockquote-normal {
    border-left: 5px solid #4aa3df;
}

#shares-details-comments-list-div .blockquote-reverse {
    border-right: 5px solid #2ecc71;
}

.shares-details-comment-user-img {
    max-width: none;
    margin-bottom: 4px;
}

.shares-details-comments-message-h3 {
    margin-top: 0px;
    margin-bottom: 20px;
}

.shares-details-comments-editor-div {
    margin-bottom: 20px;
}

#shares-details-comments-add-textarea {
    width: 100%;
}

#shares-details-comments-add-btn {
    width: 100%;
}

/* User profile */

.shares-details-user-profile-div {
    border-top: 1px solid #bdc3c7;
    background-color: #ecf0f1;
    padding-bottom: 20px;
}

.shares-details-user-picture-img {
    margin-top: 10px;
}