body {
    background-color: #eeeeee;
}

#users-home-div {
    margin-top: 20px;
}

.users-home-title-h3 {
    margin-bottom: 20px;
}

.users-home-description-p {
    margin-top: 10px;
}

.div-user-home-tabs {
    margin-bottom: 20px;
}

.share-request-card-td {
    vertical-align: middle!important;
    padding-left: 15px!important;
    padding-right: 15px!important;
}

.share-card-request-p {
    margin-bottom: 0px;
}

.share-card-request-user-p {
    /*font-weight: bold;*/
}

.request-card-footer {
    margin-bottom: 0px;
}

.share-request-card-footer {
    margin-bottom: 10px;
    color: #34495e;
}

.share-card-request-btn {
    width: 70px;
}